<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Consulta</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Datos de la consulta</h1>
            <p><strong>Odontologo:</strong> {{consulta.odontologo}}</p>
            <p><strong>Observaciones:</strong> {{consulta.observaciones}}</p>
            <p><strong>Fecha:</strong> {{consulta.fecha}}</p>
            <p><strong>Tratamiento:</strong> 
                <span *ngIf="consulta.nombre == null">No hay tratamiento</span>
                <span *ngIf="consulta.nombre != null">{{consulta.nombre}}</span>
            </p>
            <p><strong>Tratamiento detalles:</strong>
                <span *ngIf="consulta.detalles == null">No hay detalles</span>
                <span *ngIf="consulta.detalles != null">{{consulta.detalles}}</span>
            </p>
            
            
            <span *ngIf="consulta.forma_de_pago == null">
                <div class="form-group">
                    <label for="inputNombre" class="col-sm-6 control-label">Forma de pago</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNombre"
                               [(ngModel)]="forma_de_pago">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNombre" class="col-sm-6 control-label">Costo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNombre"
                               [(ngModel)]="costo">
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="irFacturar(consulta.id)">Facturar</button>
            </span>
            
            <span *ngIf="consulta.forma_de_pago != null">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="verFactura(consulta.id)">Ver factura</button>
            </span>
    </div>
    <div class="col-md-3"></div>
</div>
</div>