<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Factura</h1>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p><strong>Fecha de facturacion:</strong> {{factura.fecha}}<p>
            <p><strong>Costo:</strong> {{factura.costo}}</p>
            <p><strong>Forma de pago:</strong> {{factura.forma_de_pago}}</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>