<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{historial.nombre}} <small>nueva historia</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <h1><center>Datos del paciente</center></h1>
        <hr/>
        <form class="form-horizontal">
          <!-- Seleccionador de fecha -->
          <div class="form-group">
            <label for="inputFechaNac" class="col-sm-6 control-label">Fecha de nacimiento</label>
            <div class="container col-sm-6">
              <input type="date" name="birthday">
            </div>
          </div>
            <!-- /Seleccionador de fecha -->
            <!-- Escritura de cedula-->
            <div class="form-group">
              <label for="inputCedula" class="col-sm-6 control-label">Cedula</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputCedula" placeholder="12345678">
              </div>
            </div>
            <!-- /Escritura de cedula-->
            <!-- Escritura del nombre-->
            <div class="form-group">
              <label for="inputNombre" class="col-sm-6 control-label">Nombre</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputNombre" placeholder="Pedro Perez">
              </div>
            </div>
          <!-- /Escritura de nombre-->
          <!-- Escritura del ocupacion-->
          <div class="form-group">
            <label for="inputOcupacion" class="col-sm-6 control-label">Ocupacion</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputOcupacion" placeholder="Profesor">
            </div>
          </div>
          <!-- /Escritura de ocupacion -->
          <!-- Telefono -->
            <div class="form-group">
              <label for="inputOcupacion" class="col-sm-6 control-label">Telefono</label>
              <div class="col-lg-6">
                 <div class="input-group">
                   <input type="text" class="form-control" aria-label="..." placeholder="1234567">
                 </div><!-- /input-group -->
               </div><!-- /.col-lg-6 -->
            </div>
          <!-- /Telefono -->
          <!-- Telefono de emergencia -->
            <div class="form-group">
              <label for="inputOcupacion" class="col-sm-6 control-label">Telefono de emergencia</label>
              <div class="col-lg-6">
                 <div class="input-group">
                   <input type="tel" class="form-control" aria-label="..." placeholder="1234567">
                 </div><!-- /input-group -->
               </div><!-- /.col-lg-6 -->
            </div>
          <!-- /Telefono de emergencia -->
          <!-- Genero -->
            <div class="form-group">
              <label for="inputGenero" class="col-sm-6 control-label">Genero</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioGenero" id="radioGenero1" value="femenino"> Femenino
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioGenero" id="radioGenero2" value="masculino"> Masculino
                </label>
              </div>
            </div>
          <!-- /Genero -->
          <hr />
        </form>
      </div>

        <!-- Historial clinico-->

        <h1><center>Historial clínico</center></h1>
        <hr />
        <div class="row">
          <form class="form-horizontal"><div class="col-sm-6">
            <!-- Fecha de creacion -->
            <p><strong>Fecha de creacion:</strong>
              <!-- Esto da la fecha actual -->
              <script language="javascript">
                var today = new Date();
                document.write(today);
              </script></p>
            <!-- /Fecha de creacion -->
            <!-- Ultima visita al odontologo -->
            <!-- ARREGLAR
            Esto va ligado al paciente seleccionado, no?-->
            <div class="form-group">
              <label for="inputAprietaD" class="col-sm-6 control-label">Ultima visita al odontologo</label>
              <div class="col-sm-6">
                <input type="date">
              </div>
            </div>
            <!-- /Ultima visita al odontologo -->
            <!-- Aprieta los dientes -->
            <div class="form-group">
              <label for="inputAprietaD" class="col-sm-6  control-label">Aprieta los dientes</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioAprieta" id="radioAprietaSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioAprieta" id="radioAprietaNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Aprieta los dientes -->
            <!-- Dolor de dientes -->
            <div class="form-group">
              <label for="inputDolorD" class="col-sm-6  control-label">Dolor de dientes</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioDolor" id="radioDolorSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioDolor" id="radioDolorNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Dolor de dientes -->
            <!-- Observaciones sobre el dolor -->
            <div class="form-group">
              <label for="inputDolorObs" class="col-sm-6 control-label">Observaciones</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputDolorObs" placeholder="Observaciones">
              </div>
            </div>
            <!-- /Observaciones sobre el dolor -->
            <!-- Sangrado de encias -->
            <div class="form-group">
              <label for="inputSangrado" class="col-sm-6  control-label">Sangrado de encias</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioSangrado" id="radioSangradoSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioSangrado" id="radioSangradoNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Sangrado de encias -->
            <!-- Observaciones sobre el sangrado -->
            <div class="form-group">
              <label for="inputDolorSang" class="col-sm-6 control-label">Observaciones</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputDolorSang" placeholder="Observaciones">
              </div>
            </div>
            <!-- /Observaciones sobre el sangrado -->
            <!-- Ruido al mover la mandibula -->
            <div class="form-group">
              <label for="inputRuido" class="col-sm-6  control-label">Ruido al mover la mandibula</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioRuido" id="radioRuidoSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioRuido" id="radioRuidoNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Ruido al mover la mandibula -->
            <!-- Observaciones sobre el ruido al mover la mandibula -->
            <div class="form-group">
              <label for="inputRuido" class="col-sm-6 control-label">Observaciones</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputRuido" placeholder="Observaciones">
              </div>
            </div>
            <!-- /Observaciones sobre el ruido al mover la mandibula -->
            <!-- Fuma -->
            <div class="form-group">
              <label for="inputFuma" class="col-sm-6  control-label">Fuma</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioFuma" id="radioFumaSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioFuma" id="radioFumaNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Fuma -->
            <!-- Cantidad de cigarros diarios -->
            <div class="form-group">
              <label for="inputCantidad" class="col-sm-6 control-label">Cantidad de cigarros diarios</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" id="inputCantidad" placeholder="Cantidad">
              </div>
            </div>
            <!-- /Cantidad de cigarros diarios -->
            <!-- Muerde objetos extranos -->
            <div class="form-group">
              <label for="inputMuerdeO" class="col-sm-6  control-label">Muerde objetos extranos</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioMuerdeO" id="radioMuerdeOSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioMuerdeO" id="radioMuerdeONo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Muerde objetos extranos -->
            <!-- Muerde unas -->
            <div class="form-group">
              <label for="inputMuerdeU" class="col-sm-6  control-label">Muerde las unas</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioMuerdeU" id="radioMuerdeUSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioMuerdeU" id="radioMuerdeUNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Muerde unas -->
            <!-- Experiencia dental negativa -->
            <div class="form-group">

              <label for="inputExperiencia" class="col-sm-6  control-label">Experiencia dental negativa</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioExperiencia" id="radioExperienciaSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioExperiencia" id="radioExperienciaNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Experiencia dental negativa -->
            <!-- Instruido en el cepillado -->
            <div class="form-group">

              <label for="inputInstruido" class="col-sm-6  control-label">Instruido en el cepillado</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioInstruido" id="radioInstruidoSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioInstruido" id="radioInstruidoNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Instruido en el cepillado -->
            <!-- Embarazada -->
            <div class="form-group">

              <label for="inputEmbarazada" class="col-sm-6  control-label">Embarazada</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioEmbarazada" id="radioEmbarazadaSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioEmbarazada" id="radioEmbarazadaNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Embarazada -->
            <!-- Ciclo menstrual regular -->
            <div class="form-group">

              <label for="inputCiclo" class="col-sm-6  control-label">Ciclo menstrual regular</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioCiclo" id="radioCicloSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioCiclo" id="radioCicloNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Ciclo menstrual regular -->
            <!-- Toma anticonceptivos -->
            <div class="form-group">

              <label for="inputAnticoncep" class="col-sm-6  control-label">Toma anticonceptivos</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="radioAnticoncep" id="radioAnticoncepSi" value="true"> Si
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioAnticoncep" id="radioAnticoncepNo" value="false"> No
                </label>
              </div>
            </div>
            <!-- /Toma anticonceptivos -->
          </form></div>
        <!-- /Historial clinico -->

      <div class="col-md-6">
        <p><strong>Alergias</strong></p>
        <!-- ARREGLAR hay que incluir aqui unos multiselect pero no se instalarlo
      con esto de Angular2 y no quiero danar nada-->
            <div *ngIf="alergias.length == 0" class="alert alert-warning" role="alert">No posee alergias</div>
            <ul>
                <li *ngFor="let alergia of alergias">{{alergia.nombre}}</li>
            </ul>

        <p><strong>Medicamentos</strong></p>
            <div *ngIf="medicamentos.length == 0" class="alert alert-warning" role="alert">No posee medicamentos</div>
            <ul>
                <li *ngFor="let medicamento of medicamentos">{{medicamento.nombre}}</li>
            </ul>

        <p><strong>Enfermedades</strong></p>
            <div *ngIf="enfermedades.length == 0" class="alert alert-warning" role="alert">No posee enfermedades</div>
            <ul>
                <li *ngFor="let enfermedad of enfermedades">{{enfermedad.nombre}}</li>
            </ul>

        <p><strong>Observaciones de dientes</strong></p>
            <div *ngIf="dientes.length == 0" class="alert alert-warning" role="alert">No posee observaciones de dientes</div>
            <span *ngFor="let diente of dientes">
                <ul><li>Diente {{diente.diente}}
                    <ul>
                        <li>Seccion: {{diente.seccion}}</li>
                        <li>Observación: {{diente.observacion}}</li>
                    </ul></li></ul>
            </span>
    </div>
  </div>
</div>
