<h1>{{historial.nombre}}</h1>

<p>Fecha de creacion: {{historial.fecha_creacion}}</p>
<p>Ultima visita al odontologo: {{historial.ultima_visita_al_odontologo}}</p>
<p>Aprieta los dientes: {{historial.aprieta_los_dientes}}</p>
<p>Dolor de dientes: {{historial.dolor_de_dientes}}</p>
<p>Observaciones de dolor: {{historial.observacion_dolor}}</p>
<p>Sangrado de encias: {{historial.sangrado_de_encias}}</p>
<p>Observacion de sangrado: {{historial.observacion_sangrado}}</p>
<p>Ruido al mover la mandibula: {{historial.ruido_al_mover_la_mandibula}}</p>
<p>Observacion: {{historial.observacion_ruidos}}</p>
<p>Fuma: {{historial.fuma}}</p>
<p>Cigarros diarios: {{historial.cigaros_diarios}}</p>
<p>Muerde objetos extraños: {{historial.muerde_objetos_extranos}}</p>
<p>Muerde las uñas: {{historial.muerde_las_unas}}</p>
<p>Experiencia dental negativa: {{historial.experiencia_dental_negativa}}</p>
<p>Instruido en cepillado: {{historial.instruido_en_cepillado}}</p>
<p>Embarazado: {{historial.embarazo}}</p>
<p>Ciclo menstrual regular: {{historial.ciclo_menstrual_regular}}</p>
<p>Toma anticonceptivos: {{historial.toma_anticonceptivos}}</p>