<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Nuevo paciente</h1>
            </div>
        </div>
    </div>

    <span *ngIf="fin">
        <div class="jumbotron">
            <center><h1>¡El paciente se creó con éxito!</h1></center>
        </div>
    </span>

<span *ngIf="!fin">
    <div class="row">
        <div class="col-md-12">
            <h1>Datos del paciente</h1>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputFechaNac" class="col-sm-6 control-label">Fecha de nacimiento</label>
                    <div class="col-sm-6">
                        <input type='date' class="form-control" [(ngModel)]="nacimiento">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputCedula" class="col-sm-6 control-label">Cedula</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputCedula" placeholder="12345678"
                               [(ngModel)]="cedula">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNombre" class="col-sm-6 control-label">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNombre" placeholder="Pedro Perez"
                               [(ngModel)]="nombre">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNombre" class="col-sm-6 control-label">Segundo nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNombre" placeholder="Pedro Perez"
                               [(ngModel)]="segundoNombre">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNombre" class="col-sm-6 control-label">Apellido</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNombre" placeholder="Pedro Perez"
                               [(ngModel)]="apellido">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNombre" class="col-sm-6 control-label">Segundo Apellido</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNombre" placeholder="Pedro Perez"
                               [(ngModel)]="segundoApellido">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOcupacion" class="col-sm-6 control-label">Ocupacion</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputOcupacion" placeholder="Profesor"
                               [(ngModel)]="ocupacion">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOcupacion" class="col-sm-6 control-label">Telefono</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputOcupacion" placeholder="0412-1234567"
                               [(ngModel)]="telefono">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOcupacion" class="col-sm-6 control-label">Telefono de emergencias</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputOcupacion" placeholder="0412-1234567"
                               [(ngModel)]="telefonoEmergencias">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputGenero" class="col-sm-6 control-label">Genero</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="genero" id="hora">
                                <option value="Hombre">Hombre</option>
                                <option value="Mujer">Mujer</option>
                        </select>
                    </div>
                </div>
            </form>

            <h1>Historial clínico</h1>
            <form class="form-horizontal">
                
                <div class="form-group">
                    <label for="inputNombre" class="col-sm-6 control-label">Ultima visita al odontologo</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="inputNombre" placeholder="Fecha" [(ngModel)]="ultimaVisita">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-6 control-label">Aprieta los dientes</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="aprietaDientes" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-6  control-label">Dolor de dientes</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="dolorDiente" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
              <label for="inputDolorObs" class="col-sm-6 control-label">Observaciones</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputDolorObs" placeholder="Observaciones" [(ngModel)]="dolorDienteObservacion">
              </div>
            </div>
            
                <div class="form-group">
                    <label class="col-sm-6  control-label">Sangrado de encias</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="sangraEncias" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                
                    <div class="form-group">
                <label for="inputDolorSang" class="col-sm-6 control-label">Observaciones</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputDolorSang" placeholder="Observaciones" [(ngModel)]="sangraEnciasObservacion">
                </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-6  control-label">Ruido al mover la mandibula</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="ruidoMandibula" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputRuido" class="col-sm-6 control-label">Observaciones</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputRuido" placeholder="Observaciones" [(ngModel)]="ruidoMandibulaObservacion">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-6  control-label">Fuma</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="fuma" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                <label for="inputDolorSang" class="col-sm-6 control-label">Cigarrillos diarios</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputDolorSang" placeholder="Cigarrillos" [(ngModel)]="cigarrillosDiarios">
                </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-6  control-label">Muerde objetos extranos</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="muerdeObjetos" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6  control-label">Muerde las unas</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="muerdeUnas" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6  control-label">Experiencia dental negativa</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="experienciaDentalNegativa" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputInstruido" class="col-sm-6  control-label">Instruido en el cepillado</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="instruidoCepillado" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmbarazada" class="col-sm-6  control-label">Embarazada</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="embarazada" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                                <option value="null">No aplica</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCiclo" class="col-sm-6  control-label">Ciclo menstrual regular</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="cicloMenstrualRegular" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                                <option value="null">No aplica</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAnticoncep" class="col-sm-6  control-label">Toma anticonceptivos</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="tomaAnticonceptivos" id="hora">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                                <option value="null">No aplica</option>
                        </select>
                    </div>
                </div>
                
                    <p><strong>Observaciones de dientes</strong></p>
                    <div class="row">
                        <span *ngFor="let num of numeroDientes; let i = index">
                            <div class="form-group">
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="diente[i]" id="hora">
                                    <option value="-1">Diente</option>
                                    <option *ngFor="let data of dientesData; let i = index" value="{{data}}" >{{data}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="dienteSeccion[i]" id="hora">
                                    <option value="-1">Seccion</option>
                                    <option *ngFor="let data of seccionData; let i = index" value="{{data}}" >{{data}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Observacion" [(ngModel)]="dienteObservacion[i]">
                            </div>
                            </div>
                        </span>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" (click)="agregarNuevoDiente()">Agregar nueva observacion de dientes</button>
                        </div>
                    </div>

            <p><strong>Alergias</strong></p>
                    <div class="row">
                        <span *ngFor="let num of numeroAlergias; let i = index">
                            <div class="form-group">
                            <div class="col-md-6">
                                <select class="form-control" [(ngModel)]="alergias[i]" id="hora">
                                    <option value="-1">Alergias</option>
                                    <option *ngFor="let data of alergiaData; let i = index" value="{{data.id}}" >{{data.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Detalles" [(ngModel)]="alergiaObservacion[i]">
                            </div>
                            </div>
                        </span>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" (click)="agregarNuevaAlergia()">Agregar nueva alergia</button>
                        </div>
                    </div>

            <p><strong>Medicamentos</strong></p>
                    <div class="row">
                        <span *ngFor="let num of numeroMedicamentos; let i = index">
                            <div class="form-group">
                            <div class="col-md-6">
                                <select class="form-control" [(ngModel)]="medicamentos[i]" id="hora">
                                    <option value="-1">Medicamentos</option>
                                    <option *ngFor="let data of medicamentoData; let i = index" value="{{data.id}}" >{{data.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Detalles" [(ngModel)]="medicamentoObservacion[i]">
                            </div>
                            </div>
                        </span>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" (click)="agregarNuevoMedicamento()">Agregar nuevo medicamento</button>
                        </div>
                    </div>

            <p><strong>Enfermedades</strong></p>
                    <div class="row">
                        <span *ngFor="let num of numeroEnfermedades; let i = index">
                            <div class="form-group">
                            <div class="col-md-6">
                                <select class="form-control" [(ngModel)]="enfermedades[i]" id="hora">
                                    <option value="-1">Enfermedades</option>
                                    <option *ngFor="let data of enfermedadData; let i = index" value="{{data.id}}" >{{data.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Detalles" [(ngModel)]="enfermedadObservacion[i]">
                            </div>
                            </div>
                        </span>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" (click)="agregarNuevaEnfermedad()">Agregar nueva enfermedad</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="enviarForm()">Registrar nuevo paciente</button>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="errorValidacion != null">{{errorValidacion}}</div>
            </form>
        </div>
    </div>
    </span>
    
    
</div>